<footer>
    <div>
        <li class="brand"><a href="/">FoodieMakers</a></li>
    </div>
    <div class="footer-other-links">
        <h4>Explore</h4>
        <a href="#"><li>Home</li></a>
        <a href="#"><li>About</li></a>
    </div>
    <div class="footer-other-links">
        <h4>Follow</h4>
        <a href="#"><li>Instagram</li></a>
        <a href="#"><li>Twitter</li></a>
        <a href="#"><li>Linkedin</li></a>
    </div>
    <div class="footer-other-links">
        <h4>Legal</h4>
        <a href="#"><li>Terms</li></a>
        <a href="#"><li>Privacy</li></a>
    </div>
</footer>