<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9e177d2333.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/starability/2.4.2/starability-minified/starability-grow.min.css" integrity="sha512-paIUJuCgrM4tuK62uGCXXZt4CSH6oqknI8GnCP9HmzaBwIfLE5ppZRd+hxj3f32nIpeyoYbR6vlNsn2tcW9pFw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/css/splide.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    
    <title>FoodieMakers</title>
</head>
<body>
    <%- include('../partials/navbar') %> 
    <section class="section">
        
        <%- body %>
        <%- include('../partials/modal') %>  
    </section>
    <%- include('../partials/footer') %> 
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script> -->
 
    <!-- <script src="/js/chat.js"></script> -->
    <script src="/js/index.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/js/splide.min.js"></script>
    
    
 
</body>
</html>