<% layout('layouts/boilerplate') %> 
<div class="box">
    <% if (err.message === `Cast to ObjectId failed for value "${err.value}" (type string) at path "_id" for model "Product"`) { %>
     <h1>Product not found! :(</h1>
    <% } else {%>
    <h1><%= err.message %></h1>
    
    <% } %> 
</div>